.gridLayout {
  display: grid;
  grid-template-columns: 254px 254px 254px 254px;
  grid-template-rows: 472px 472px 472px;
  gap: 17px 14px;
  grid-auto-flow: row;
  margin-left: 8.5vw;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  position: absolute;
}
.pageItem,
.pageItemActive {
  width: 33px;
  height: 33px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 9px;
  margin-left: 13.2px;
}

@media (min-width: 1900px) {
  .gridLayout {
    gap: 17px 157px;
    margin-left: 5vw;
  }
}
