.dropDownWrapper {
  width: 120px;
  height: 48px;
  align-self: center;
  margin-right: 116px;
}

.dropDownBtn {
  width: 100%;
  height: 100%;
  color: #b0b0b0;
  background-color: #fff;
  border: 1px solid #b4b4bb;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  text-indent: -15%;
}

@media (max-width: 1900px) {
  .dropDownWrapper {
    margin-right: 85px;
  }
}
