.singleProductContainer {
  width: 254px;
  height: 472px;
}
.singleProductContainer:hover {
  border: 1px solid #b0b0b0;
  border-radius: 4px;
}
.cardImage {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
.cardImageHover{
  border: none;
}

.cardBody {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 16vh;
  padding: 8px 16px;
  position: relative;
  display: flex;
  text-align: start;
  flex-direction: column;
  justify-content: center;
}
.cardBodyHovering{
  display: none;
}

.cardTitle {
  color: #484848;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
}
.cardTitleHover{
  color: #484848;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  margin-right:6rem;
}

.discountlessCardTitle {
  color: #484848;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 0.4vh;
}
.productInfo {
  font-size: 12px;
  color: #484848;
  margin-top: -7px;
}

.productInfoWrapper {
  display: flex;
  flex-direction: column;
  margin-top: -15px;
}

.productPrice {
  margin-top: -10px;
}

.activePrice {
  font-size: 14px;
  color: black;
  font-weight: 700;
}

.actualPrice {
  margin-top: -10px;
  color: #9b9b9b;
  font-size: 13px;
}

.actualPrice span {
  font-size: 12px;
  font-weight: 700;
  color: #f90000;
}
.buttonWrapper {
  height: 16vh;
  padding: 8px 16px;
}
.addButton {
  height: 32px;
  width: 233px;
  margin-left: -5px;
  margin-top: 30px;
  background: rgba(255, 96, 0, 0.11);
  color: #ff6000;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 8px;
  border: none;
}

.addButtonPassive {
  height: 32px;
  width: 233px;
  margin-left: -5px;
  margin-top: 30px;
  background: rgba(126, 126, 126, 0, 11);
  color: rgba(176, 176, 176, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 8px;
  border: none;
}

@media (min-width: 1900px) {
  .cardBody {
    height: 12vh;
  }
}
